<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>D3.js Step by Step: Step 5 - Adding Tooltips</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet" data-semver="3.0.1" data-require="normalize@*" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pie.css') }}">
  </head>

  <body>
    <h1>Your Expense Report by Weekdays</h1>
    <div id="chart"></div>
    <script data-require="d3@*" data-semver="4.0.0" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{ url_for('static', filename='pie.js') }}"></script>
  </body>

</html>

