<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% extends "base.html" %}

{% block content %}
    <h1>Vault </h1>
<h3> Items in your vault are: <h3>
 <table border="1">
<tr>
<th>Name</th>
<th>Item</th>
</tr>
    {% for post in posts %}
<tr>
     <td> {{ post.owner.username }}</td>
		 <td>{{ post.name }}</td>
       <td> <a class="signup" href="/sellhandshake/{{ post.name }}/{{ post.hash }}"> Sell </a>
<!--
<form action="" method="post">
            {{ form.csrf }}
                <input type="submit" name="submit" value="Sell" />
-->
</td>
</tr>
    {% endfor %} 
</table>
<br/>
<form action="" method="post">
            {{ form.csrf }}
                <input type="submit" name="submit" value="Add_Item" />
        </form> 
{% endblock %}
