.signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #FF0000;
	background-image: -moz-linear-gradient(#FF0000, #C70606);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#C70606));    
	background-image: -webkit-linear-gradient(#FF0000, #C70606);
	background-image: -o-linear-gradient(#FF0000, #C70606);
	background-image: -ms-linear-gradient(#FF0000, #C70606);
	background-image: linear-gradient(#FF0000, #C70606);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

.signup:hover {
	background-color: #62bc30;
	background-image: -moz-linear-gradient(#62bc30, #72ce3f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C70606), to(#FF0000));      
	background-image: -webkit-linear-gradient(#C70606, #FF0000);
	background-image: -o-linear-gradient(#C70606, #FF0000);
	background-image: -ms-linear-gradient(#C70606, #FF0000);
	background-image: linear-gradient(#C70606, #FF0000); 
}

.signup:active, .signup:focus {
	background: #C70606;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}
